<div class="container">

  <h1>
    Angular - Excel Export Tutorial
  </h1>
  <div class="card">
    <div class="card-header clearfix">
      <h5 class="pull-left">Sales Report</h5>
      <div class="pull-right">
        <button class="btn btn-success btn-sm" type="button" name="export" title="Export Data" (click)="exportExcel()">
          <i class="fa fa-file-excel-o"></i>&nbsp;Export Report
        </button>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th *ngFor="let column of columns; let i = index">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>
                {{item.InvoiceID}}
              </td>
              <td>
                {{item.Date}}
              </td>
              <td>
                {{item.DeviceName}}
              </td>
              <td class="text-right">
                {{ item.Amount | number: '1.2-4' }}
              </td>
            </tr>
            <tr>
              <td colspan="3">Total</td>              
              <td class="text-right">
                {{ totalSalesAmount | number: '1.2-4' }}                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>